/* You can add global styles to this file, and also import other style files */
:host{
    background-color: #1d2125;
}
.bg-gray{
    background:  #1d2125;
}
.vertical{
    height: 100vh;
    width: 17%;
    border-right: 1px solid #e2e2e2;
}